**1. In the below elements which of them are values or an expression? eg:- values can be
integer or string and expressions will be mathematical operators.**

*,


"hello" ,

-87.8    


-,



/,




+,






6

**Answer**

Values =    "hello" , -87.8  , 6

Expressions = *  ,   -  , /    ,  +

**2. What is the difference between string and variable?**

**Answer**

A **variable** is a named storage location in computer memory that holds a value. It is used to store and manipulate data within a program. 

A **string** is a specific data type that represents a sequence of characters. It is used to store and manipulate text or a combination of alphanumeric characters. Strings are typically enclosed in quotation marks, such as single quotes ('') or double quotes ("").

**3. Describe three different data types.**

**Answer**

Here are three commonly used data types in Python:

1. **Integer (int)** : The integer data type represents whole numbers, both positive and negative, without any fractional parts.

In [1]:
#example 
x= 6
y = 10

print(type(x,))
print(type(y,))

<class 'int'>
<class 'int'>

2 . **Float (float)** : The float data type represents real numbers with a decimal point. It is used to store numbers with fractional parts.

In [2]:
#example
x = 2.5
y = 7.9


print(type(x,))
print(type(y,))

<class 'float'>
<class 'float'>

3 . **String (str)** : The string data type represents a sequence of characters enclosed in single quotes (' ') or double quotes (" "). It is used to store textual data.

In [3]:
#example 
name = "pankaj"
country = "india"

print(type(name))
print(type(country))

<class 'str'>
<class 'str'>

**4. What is an expression made up of? What do all expressions do?**

Answer

An expression is a combination of values, variables, operators, and function calls that can be evaluated to produce a result. It represents a computation or a calculation.

Expressions are used in various contexts, such as mathematical calculations, assigning values to variables, controlling conditional statements, and specifying arguments for function calls.

**5. This assignment statements, like spam = 10. What is the difference between an
expression and a statement?**

Answer


Expressions are evaluated to produce a value, while statements perform actions or instructions.

The statement "spam = 10" is an assignment statement. It assigns the value 10 to the variable named "spam." The expression on the right side of the assignment operator (=) is "10," which is evaluated to produce the value that is then assigned to the variable "spam.

**6. After running the following code, what does the variable bacon contain?**

bacon = 22


bacon + 1

In [4]:
bacon = 22
bacon + 1

23

In [5]:
bacon = 22
bacon + 1
print(bacon)

22

After running the code, the variable "bacon" would contain the value 22.

The expression "bacon + 1" does not modify the value of the variable "bacon"; it only performs addition with the value of "bacon" (which is 22) and 1. However, the result of the addition (23) is not assigned to any variable, so it is not stored or used further in the code.

**7. What should the values of the following two terms be?**

'spam' + 'spamspam'



'spam'*3

In [6]:
var_1 = 'spam' + 'spamspam'

print(var_1)

spamspamspam

In [7]:
var_2 = 'spam'*3
print(var_2)

spamspamspam

**8. Why is eggs a valid variable name while 100 is invalid?**

**Rules for Python variables:**

* A variable name must start with a letter or the underscore character

*  **A variable name cannot start with a number**
* A variable name can only contain alpha-numeric characters and underscores (A-z, 0-9, and _ ).
* Variable names are case-sensitive (age, Age and AGE are three different variables)

"eggs" is a valid variable name because it starts with a letter, it contains alphabets.

"100" is a invalid variable name because it starts witha number, it is not an alpha-numeric character.

valid examples can be _100, a100, a_100.

**9. What three functions can be used to get the integer, floating-point number, or string
version of a value?**

int(), float() and str() are the three functions used to get the integer, floating-point number, or string version of a value repectively

**10. Why does this expression cause an error? How can you fix it?**

'I have eaten' + 99 + 'burritos'

In [8]:
'I have eaten' + (99) + 'burritos'

TypeError: can only concatenate str (not "int") to str

* **The expression cause an error because 99 is an integer value and only string can be concatenated with other strings with '+' operator.**

To fix it, we need to convert the integer value 99 to a string before concatenation.

* to do this is by using the str() function

In [9]:
'I have eaten ' + str(99) + ' burritos.'

'I have eaten 99 burritos.'